<h1 class="page-title">{{room.name}}</h1>
<div class="content-holder">
  <div class="quiz-content">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Quiz" class="quiz-box">
        <div class="quiz-title">
          <h1 class="title">{{selectedQuiz ?selectedQuiz.name: ''}}</h1>
        </div>
        <div class="quiz-container">
          <app-countdown-select-list *ngIf="!done" [questions]="questions" [waiting]="waiting" [quizSelected]="quizSelected" [next]="next" (nextOut)="next
=$event" [reset]="reset" (resetOut)="reset = $event" (done)="done = $event"></app-countdown-select-list>
          <div class="loading" *ngIf="waiting">
            <h2>Waiting for host to select a quiz...</h2>
            <mat-spinner diameter="30"></mat-spinner>
          </div>
          <div class="podium" *ngIf="done">
            <div class="second">
              <h2 class="podium-text">{{users[1] ? users[1].name: ''}}</h2>
            </div>
            <div class="first">
              <h2 class="podium-text">{{users[0] ? users[0].name: ''}}</h2>
            </div>
            <div class="third">
              <h2 class="podium-text">{{users[2] ? users[2].name: ''}}</h2>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="players">
    <h1 class="menu-header">Players</h1>
    <div class="player-list">
      <mat-list>
        <mat-list-item *ngFor="let u of users">
          <h3 matLine> {{u.name}} </h3>
          <p matLine>
            <span>Points: {{u.points}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
